

header {
  width: 100%;
  background-color: #efefef;
  padding-top: 2px;
  margin: 0;

}



.info {
  margin-left: 32px;
}

.info h1 {
  color: #000;
  background-color: #000
  font-size: 20px;
  font-weight: normal;


}



.info ul {
  margin-top: 16px;
  padding-bottom: 16px;
  list-style-type: none;
  display: flex;
  margin: 0;
}

.info ul li {

  margin-right: 16px;
}



#nav-drawer {
  position: fixed;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: block;
  width: 30px;
  height: 29px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 29px;/*長さ*/
  border-radius: 3px;
  background: #0000ff;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -24px;
}
#nav-open span:after {
  bottom: -12px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {

  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 300px;/*最大幅（お好みで調整を）*/
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

#nav-content a {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 32px;
  font-size: 24px;
  line-height: 1.5;
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}

body {
  color: #333;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding:0;
}

body > .wrap{
      width:100%;
}

img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.top-wrapper{
  width:100%;

}

.sidebar {
   display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}

.maim{
  width: 100%;
}


.news-wrapper > h1 {
  font-weight: normal;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}







.news-wrapper > p {

  margin-left: 10px;
  margin-right:: 10px;
  line-height: 1.5;

}



.works-wrapper > h1 {
  font-weight: normal;

  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.works-wrapper > section {
  margin-bottom: 60px;

}

.works-wrapper > section > h1 {
  margin-left: 10px;
}

.works-wrapper p {
  font-size: 16px;
  line-height: 1.2;
  margin-left: 10px;
}

footer p {
  text-align: center;

  margin-bottom: 60px;
  color: gray;
}
